.microservice-parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.microservice-parent-container > div {
  background-color: rgba(186, 164, 164, 0.062);
}
div {
  background-color: rgba(186, 164, 164, 0.062);
}
.microservice-parent-container > h1 {
  border: 2px solid;
  font-family: 'Montserrat';
  color: rgb(43, 49, 167);
}
.fetcher {
  font-family: 'Roboto Mono';
  border: 2px solid;
  color: rgb(26, 35, 202);
}
.fetcher:hover {
  background-color: rgb(255, 255, 255);
}
.microservice-parent-container > table, thead, td {
  border: 2px solid;
  width: 12px;
  width: 40%;
  font-family: 'Roboto Mono';
  color: rgb(26, 35, 202);
}
.message {
  border: 2px solid;
  color: rgb(26, 35, 202);
  font-family: 'Montserrat';
}
